/* * {
  border: 1px solid red;
} */

.App {
  text-align: center;
  margin: 1rem;
}

/* .aboutThisAppContainer {
  width: 90%;
  text-align: center;
} */

.todoListTask {
  list-style-type: none;
  padding: 2px;
}

.todoListContainer:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}
.todoListContainer:nth-child(even) {
  background-color: rgb(119, 187, 255);
}

.todoListContainer {
   display: flex;
   flex-direction: column;
   width: 50%;
   margin: 0 auto;
}

.todoListDisplay {
  margin-top: 4rem;
}

.todoInputForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;

}

button {
  background-color: rgb(62, 102, 152);
  color: white;
  height: 3rem;
  font-size: 1rem;
  margin: 1rem;
}

input {
  height: 3rem;
  font-size: 1rem;
}

.ulTodoList {
  list-style-type: none;
  padding-left: 0;
}


@media only screen and (max-width: 1000px) {
  .todoInputForm {
    width: 95%;
  }
  .todoListContainer {
    width: 95%;
  }
}


/* =========
CALENDAR
*/

/* .calInAppContainer {
  width: 100px
} */

.calendarContainer {
  /* display: none; */
  align-self: center;
  width: 500px;
  height: 500px;
  background-color: #12121f;
  color:rgb(249, 249, 249);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

}

.calendar {
  /* border: 3px solid red; */
  width: 100%;
  /* height: 100vh; */
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.displayMonths {
  /* width: 100%; */
  height: 10rem;
  background-color: rgb(62, 102, 152);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.displayDayNames {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.displayDayNames .dayName {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;
  /* letter-spacing: 0.1rem; */
  width: calc(21rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.displayDayNumbers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.dayNumber {
  font-size: 1.3rem;
  margin: 0.3rem;
  width: calc(26rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.dayNumber:hover:not(.today) {
  background-color: #262626;
  border: 1px solid #777;
  cursor: pointer;
}

 .monthNavButton {
  font-size: 2.5rem;
  cursor: pointer;
}

/* current month display title */
.month h1 {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.show {
  display: inherit;
}

.hide {
  display: none;
}

.closeCalendarButton {
  width: 100%;
}

.currentMonthCurrentDay {
  color: red;
  border: 2px solid yellow;
}

.notCurrentMonthDay {
  color: gray;
}

/*
this is left and right arrows for click
*/







/*
current date text below
.month p {
  font-size: 1.6rem;
}


.currentDay {
  background-color: #167e56;
} */
