.App {
  text-align: center;
}

.todoListTask {
  /* text-decoration: none; */
  list-style-type: none;
  padding: 2px;
}

.todoListContainer:nth-child(odd) {
  background-color: rgb(254, 233, 233);
}
.todoListContainer:nth-child(even) {
  background-color: rgb(237, 243, 249);
}
.todoListContainer {
   width: 70%;
   margin-top: 0;
   margin: 0 auto;
}

.ulTodoList {
  margin: 0
}

.todoListDisplay {
  margin-top: 4rem;
}

.todoInputForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;

}

button {
  background-color: rgb(65, 65, 171);
  color: white;
  height: 2rem;
  font-size: 1rem;
}

input {
  height: 2rem;
  font-size: 1rem;
}

